.particles {
  margin-bottom: -20px;
}
.canvas {
  width: 100%;
  min-height: 200%;
}

.main-form {
  padding-right: 0;
  width: 75%;
  margin: 0;
  position: absolute;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.upload-button {
  padding-right: 0;
  margin-right: 0;
}
