.background {
  width: 100.5%;
  height: 101.1%;
  padding-left: 0;
  margin: -8px;
  opacity: 0.9;
  position: absolute;
}

.main-form {
  padding-right: 0;
  width: 75%;
  margin: 0;
  position: absolute;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.upload-button {
  padding-right: 0;
  margin-right: 0;
}
